:root {
  --chessmood-primaryorangeorange-100: rgba(252, 214, 176, 1);
  --chessmood-primaryorangeorange-50: rgba(254, 242, 230, 1);
  --chessmood-primaryorangeorange-500: rgba(245, 124, 0, 1);
  --drop-shadow-small: 0px 1px 2px -1px rgba(16, 24, 40, 0.15), 0px 1px 3px 0px
    rgba(16, 24, 40, 0.15);
  --fillbuttonprussian-blue: rgba(17, 37, 56, 1);
  --fillframecadet-gray: rgba(142, 151, 163, 1);
  --foundation-antraciteantracite-300: rgba(103, 111, 122, 1);
  --foundation-antraciteantracite-400: rgba(73, 83, 96, 1);
  --foundation-antraciteantracite-600: rgba(25, 36, 51, 1);
  --foundation-neutralneutral-100: rgba(208, 210, 213, 1);
  --foundation-neutralneutral-200: rgba(186, 189, 193, 1);
  --foundation-neutralneutral-400: rgba(134, 140, 147, 1);
  --foundation-neutralneutral-500: rgba(104, 111, 120, 1);
  --foundation-neutralneutral-700: rgba(74, 79, 85, 1);
  --foundation-neutralneutral-900: rgba(44, 47, 50, 1);
  --foundationcadet-blueblue-500: rgba(83, 134, 157, 1);
  --generic-white: rgba(255, 255, 255, 1);
  --genericblack: rgba(0, 0, 0, 1);
  --genericwhite: rgba(255, 255, 255, 1);
  --neutral-200: rgba(229, 229, 229, 1);
  --neutral-300: rgba(205, 205, 205, 1);
  --neutral-400: rgba(163, 163, 163, 1);
  --neutral-500: rgba(115, 115, 115, 1);
  --neutral-700: rgba(64, 64, 64, 1);
  --neutral-900: rgba(23, 23, 23, 1);
  --paragraph-medium-medium-font-family: "Roboto", Helvetica;
  --paragraph-medium-medium-font-size: 16px;
  --paragraph-medium-medium-font-style: normal;
  --paragraph-medium-medium-font-weight: 500;
  --paragraph-medium-medium-letter-spacing: 0px;
  --paragraph-medium-medium-line-height: 24px;
  --paragraph-small-medium-font-family: "Roboto", Helvetica;
  --paragraph-small-medium-font-size: 14px;
  --paragraph-small-medium-font-style: normal;
  --paragraph-small-medium-font-weight: 500;
  --paragraph-small-medium-letter-spacing: 0px;
  --paragraph-small-medium-line-height: 20px;
  --paragraph-small-regular-font-family: "Roboto", Helvetica;
  --paragraph-small-regular-font-size: 14px;
  --paragraph-small-regular-font-style: normal;
  --paragraph-small-regular-font-weight: 400;
  --paragraph-small-regular-letter-spacing: 0px;
  --paragraph-small-regular-line-height: 20px;
  --paragraph-small-semibold-font-family: "Roboto", Helvetica;
  --paragraph-small-semibold-font-size: 14px;
  --paragraph-small-semibold-font-style: normal;
  --paragraph-small-semibold-font-weight: 600;
  --paragraph-small-semibold-letter-spacing: 0px;
  --paragraph-small-semibold-line-height: 20px;
  --paragraph-xsmall-medium-font-family: "Roboto", Helvetica;
  --paragraph-xsmall-medium-font-size: 12px;
  --paragraph-xsmall-medium-font-style: normal;
  --paragraph-xsmall-medium-font-weight: 500;
  --paragraph-xsmall-medium-letter-spacing: 0px;
  --paragraph-xsmall-medium-line-height: 18px;
  --paragraph-xsmall-regular-font-family: "Roboto", Helvetica;
  --paragraph-xsmall-regular-font-size: 12px;
  --paragraph-xsmall-regular-font-style: normal;
  --paragraph-xsmall-regular-font-weight: 400;
  --paragraph-xsmall-regular-letter-spacing: 0px;
  --paragraph-xsmall-regular-line-height: 18px;
  --primary-300: rgba(113, 170, 202, 1);
  --primary-400: rgba(65, 141, 184, 1);
  --primary500-main: rgba(18, 113, 166, 1);
  --success500-main: rgba(89, 163, 16, 1);
  --warning500-main: rgba(255, 153, 0, 1);
  --white: rgba(255, 255, 255, 1);
}
