.frame-427319756 {
  left: 0 !important;
  position: absolute !important;
  top: 60px !important;
}

.frame-instance {
  margin-bottom: unset !important;
  margin-left: -11724.00px !important;
  margin-top: -6246.00px !important;
}

.frame-427319756-instance {
  margin-bottom: unset !important;
  margin-left: -12348.00px !important;
  margin-top: -6250.00px !important;
}
